html {
    font-size: 1.1em;
    @media screen and (min-width: 700px) {
        font-size: 1.2em;
    }
    @media screen and (min-width: 900px) {
        font-size: 1.3em;
    }
}

body {
    margin: 0 1em 0 1em;
}

.app {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    max-width: 40rem;
    min-height: 100vh;
    line-height: 1.6;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: darkslategray;
        transition: 300ms
    }

    .index, .article {
        flex: 1;
    }

    .markdown-body {
      font-family: inherit;
    }
}
